<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="color-change_command" xsi:type="object">Cassio\ColorChange\Console\Command\ColorChangeCommand</item>
            </argument>
        </arguments>
    </type>
</config>
